.global_container{
    border-radius: 0px 0px 5px 5px;
    padding: 5px;
    width: 50%;
    position: relative;
    margin:auto;   
}
.success{
    background-color: rgb(102,211,111,0.4);
    color: rgb(102,211,111);
    :hover{
        background-color: rgb(102,211,111,0.4);
        color: rgb(102,211,111);  
    }
}
.medium{
    background-color: rgb(146, 148, 156,0.4);
    color:black
}
.danger{
    background-color: rgba(235, 68, 90,0.4); 
    color: rgb(235, 68, 90);
}


.select{

    width: 100%;
    outline:none;
    height: 30px;
    position: relative;
    text-align: center;
    /*
    //Remove a arow icon of a select 
    -moz-appearance: none;
    -webkit-appearance: none;
    &::-ms-expand {
        display: none;
    }*/

    option{
        text-align:center;
        width: 100%;
        margin: 0px;
        min-height: 30px;
        &:hover{
            background-color:#337ab7;
        }
        

    }
}



.floor{
    background-color: #d3d3d3;
    border-bottom: 1px solid black;
    height: 51px;
    font-weight: bold;
    display: flex;
    align-items: center;
    span{
        margin-top: 8px;
        display: inline-block;
    }
    ion-icon{
        float: left;
        margin: auto;
        cursor: pointer;
        font-size: xx-large;
    }
}

.floorList{
    padding-bottom: 88px;
    height: calc(100vh - 88px);// we have remove only the heigh of the header and the filter div 
    overflow: auto;
    background: #ffffff;
    color: #495057;
    box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
    border-radius: 0px 0px 6px 6px;
    ion-list {
        --background: white; 
    }
    ion-item{
        --inner-padding-end: 0 !important;
       --background: white;
    box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
    border-radius: 6px;
    margin: 7px;
    .itemDiv{
    /*    &:hover{
            background:#f2f2f2;  
            cursor:pointer;
        } */
        padding: 5px;
        padding-top: 15px;
        width: 100%;
        height: 100%;
        display:flex;
        justify-content: space-between;
        position: relative;
        .orderName{
            font-weight: strong;
        }
        .badge{
            width: 100px;
            text-align: right;
        }
        
    }
    
    }
}

@media  (max-width: 750px) { 
    
    .global_container{
        width: 100%;
        margin:auto;
    }
}
@media  (min-width: 768px) and (max-width: 900px) {
    .global_container{
        width: 75%;
    }
}
