<ion-header >
  <ion-toolbar >
    <ion-menu-button id="btMenu" slot="start"></ion-menu-button>
    <ion-title>Places</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
<div class="global_container">
  <div class="floorList">
    <div  *ngFor="let place of Place; let i=index">
      <div class="floor" [id]="'floor'+i">
        <div class="title">
          <ion-icon id="iconHide" (click)="setShowDetail(place.floor)" *ngIf="place.showDetail===false" name="chevron-down"></ion-icon>
          <ion-icon id="iconShow" (click)="setShowDetail(place.floor)" *ngIf="place.showDetail===true" name="chevron-up"></ion-icon>
           <span> {{place.floor}}</span>
        </div>
         </div>
         <div class="orderList"    >
          <ion-list style="background-color:white" class="list_to_hover"  *ngIf="place.Table.length>0 && place.showDetail===true">
            <ion-item  class="list_to_hover ion-padding"  *ngFor="let table of place.Table" lines="none" class="ion-no-padding" > 
            <div class="itemDiv">
              <div class="orderName" [id]="'table_'+table.Name">  {{table.Name}}</div> 
              <div class="badge" [id]="'badge_'+table.Name">
                <ion-badge style="width:80px" [class]='getColor(table.Statut)'  >
                  {{table.Statut}}
                </ion-badge>
              </div>
            </div>   
            </ion-item>
          </ion-list>
          
          <ion-fab vertical="bottom" horizontal="end"  >
            <ion-fab-button>
              <ion-icon name="add"></ion-icon>
            </ion-fab-button>
          </ion-fab>
      </div>
    </div>
  </div>
</div>
  


</ion-content>