<ion-header #header>
    <ion-toolbar>
      <ion-menu-button id="btMenu" slot="start"></ion-menu-button>
      <ion-title  >Orders </ion-title>
      
    </ion-toolbar>
  </ion-header>
  <ion-content>
      <div id="globalOrder">
          <div id="noOrder" *ngIf="Orders.length===0 && Created===false">
              <ion-text>No order available</ion-text>
          </div>
          <ion-fab  *ngIf="permission==='seller' && Created===false" vertical="bottom" horizontal="end" (click)="newOrder()" >
            <ion-fab-button color="success" >
              <ion-icon name="add"></ion-icon>
            </ion-fab-button>
          </ion-fab>

          <div id="orderCreated" *ngIf="Created===true">
            <ion-label id="successPayIcon"><ion-icon   name="checkmark-circle" color="success"></ion-icon></ion-label>
            <ion-text>Order created</ion-text>
          </div>
          <div id="orderBlock">
            <div *ngIf="Created===false">
              <div *ngFor="let order of Orders , let i= index" class="orderItems" >
                <div class="orderItemsDetailsContainer" >
                  <div class="orderItemsDetails" (click)="ShowDetails(order)" >
                    <ion-label class="orderItemsName" >
                      <ion-text >
                        <ion-text  class="idOrder" >{{order.OrderId}}</ion-text>
                        <ion-text class="orderItemsDesc" >
                          <strong>{{order.OrderItems.length}} </strong>
                           <ion-text *ngIf="order.OrderItems.length>1">items</ion-text> 
                           <ion-text *ngIf="order.OrderItems.length<=1">item</ion-text> 
                        </ion-text>
                      </ion-text> 
                    </ion-label>
                    <ion-label class="orderItemsPrice " > 
                      <ion-text class="priceOrder">
                        CFA {{formatAmout(order.OrderTotalAmount)}}
                      </ion-text>
                    </ion-label>
                  </div>
                  <div class="orderItemsDetails orderItemsDetails2"  style="margin-top:-5px">
                    <ion-label class="orderItemsModel">
                        <ion-label class="oderSeller"><img src="../../assets/pa.png" alt=""></ion-label>
                         
                        <ion-label >Selina</ion-label> 
                    </ion-label>
                    <ion-label class="orderDate">
                        <ion-text>{{displayDate(order.Created)}}</ion-text>
                    </ion-label>
                    <ion-label class="orderStatus">
                        <ion-badge [color]='getColor(order.OrderStatus)'  >
                            <ion-text>{{order.OrderStatus}}</ion-text>
                        </ion-badge>
                    </ion-label>
                  </div>
                </div>
                <ion-icon name="ellipsis-vertical" [id]="'odersEllispe'+i"  ></ion-icon>
                <ion-popover alignment="end"  class="ItemPopOver"  side="right" [trigger]="'odersEllispe'+ i" 	dismissOnSelect="true">
                  <ng-template>
                    <ion-list >
                      <div class="deleteOrder">
                        <ion-item lines="none"><ion-icon name="information-circle-outline"></ion-icon> </ion-item>
                        <ion-item class="ItemDelete"  (click)="ShowDetails(order)" ><ion-text> Show Details</ion-text></ion-item>
                      </div>
                      <div class="deleteOrder" [ngClass]="permission==='seller'? 'disabled' : 'nothing'" >
                        <ion-item lines="none"><ion-icon name="cash-outline"></ion-icon></ion-item>
                        <ion-item class="ItemDelete"  (click)="PerfomPayment(order)" ><ion-text>Perfom Payment</ion-text></ion-item>
                      </div>
                      <div class="deleteOrder disabled">
                        <ion-item lines="none"><ion-icon name="trash-outline"  ></ion-icon> </ion-item>
                        <ion-item class="ItemDelete"  (click)="deleteOrder(order)" ><ion-text> delete</ion-text></ion-item>
                      </div>
                  </ion-list>
                  </ng-template>
                </ion-popover>
              </div>
              
            </div>
          </div>
      </div>
      
  </ion-content>