.global_container{
    background-color: #f5f5f5;
    border-radius: 0px 0px 5px 5px;
    width: 50%;
    position: relative;
    margin:auto;
    
}
#noOrder{
    height: 500px;
    padding: 20px;
    text-align: center;
}
p{
    color: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.4);
    line-height: 1.4 !important;
    margin: 0px;
}
ion-label{
    font-family: Arial, Helvetica, sans-serif;
    padding: 7px;
}
.pop_btn{
    width: 100px !important;
}


.select{
    width: 100%;
    outline:none;
    height: 30px;
    position: relative;
    text-align: center;
    /*
    //Remove a arow icon of a select 
    -moz-appearance: none;
    -webkit-appearance: none;
    &::-ms-expand {
        display: none;
    }*/

    option{
        text-align:center;
        width: 100%;
        margin: 0px;
        min-height: 30px;
        &:hover{
            background-color:#337ab7;
        }
        

    }
}



.success{
    background-color: rgb(102,211,111,0.4);
    color: rgb(102,211,111);
    :hover{
        background-color: rgb(102,211,111,0.4);
        color: rgb(102,211,111);  
    }
}
.medium{
    background-color: rgb(146, 148, 156,0.4);
    color:black
}
.danger{
    background-color: rgba(235, 68, 90,0.4); 
    color: rgb(235, 68, 90);
}
.warning{ 
    background-color: rgba(255, 196,9,0.3);
    color:rgba(255, 196,9, 1);
}
.primary{
    
    background-color: rgba(56, 128, 255,0.4);
    color: rgb(56, 128, 255);
}
/*.list_to_hover :hover{
          background-color: #f2f2f2;
          cursor:pointer;
      }*/
.orderTotal{
    color: #2dd36f !important;
    font-weight: bold !important;
    margin-right: -1px;

}
.orderName{
    font-weight: bold !important;
    --font-weight: bold !important;
    margin-bottom: 10px !important;
    --margin-bottom: 10px !important;
}   
.dropdown{
    position:relative;
    display: flex;
    ion-item{
        --inner-padding-end: 0 !important;
        --ion-background-color: red;}
       ion-list,ion-grid {
           border:2px solid red
    }  
}
ion-popover{
    ion-containt{
        
    border:3px solid red;
    }
}

.orderList{
    padding-bottom: 88px;
    height: calc(100vh - 134px);// we have remove only the heigh of the header and the filter div 
    overflow: auto;
    background: #ffffff;
    color: #495057;
    box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
    border-radius: 0px 0px 6px 6px;
    ion-list,ion-grid {
        --background: white; 
    }
    
    ion-item{
        --inner-padding-end: 0 !important;
       --background: white;
    box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
    border-radius: 6px;
    margin: 7px;
    padding: 5px;
    
    }
    ion-label:first-of-type{
        opacity: 0;
    }
    ion-label{
        padding: 0px;
        margin:0px;
        padding-bottom: -5px;
    }
}

ion-item:hover,ion-grid:hover{
    background-color:#f2f2f2;
    cursor:pointer;
}
.filters{
    display:flex;
    padding-right: 4.5px;
    justify-content: space-between;
    :hover{
        background-color: #d3d3d3; 
        cursor: auto;
    }
    background-color: #d3d3d3;
    border-bottom: 1px solid black;
    margin-top:5px;
   
}

@media (max-width: 500px) { 
    
        .global_container{
            width: 100%;
        }
}


