
<ion-header>
  <ion-toolbar>
    <ion-title>
      Order{{Order.orderId}}
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
<div class="global_container">
  <ion-label class="btMenu"  >
    <ion-button expand="full" id="btCoins"> <img src="../../assets/coins.png"> Cash </ion-button>
    <ion-button expand="full" id="btMomo">   </ion-button>
    <ion-button expand="full" id="btQr">  </ion-button>
  </ion-label>
  <div>

  </div>
  <div id="price">
    <ion-text>Total</ion-text>
    <ion-text>{{Order.orderTotal}}</ion-text>
  </div>  
  
  <form>
    <ion-text>Phone Number (Customer)
    </ion-text>
    <div class="form-group">
      <input type="tel" id="tel" class="form-control"   ng2TelInput >
    </div>
  </form>

  <ion-label id="state">
    <ion-spinner *ngIf="state==='proceed'" name="lines"></ion-spinner>
    <ion-label *ngIf="state!=='proceed'">
      <ion-icon *ngIf="state==='done'"  name="checkmark-circle" color="success"></ion-icon>
      <ion-icon *ngIf="state==='error' || state==='connection'" name="close-circle" color="danger"></ion-icon>
    </ion-label>
    <ion-text  [class]="state" id="'state">{{messageState}}</ion-text>
  </ion-label>
  
  <ion-footer>
    <ion-label>
      <ion-button expand="full" id="bt1" *ngIf="state==='' || state==='error' || state==='connection' " color="medium" (click)="cancel()"> Cancel </ion-button>
      <ion-button expand="full" id="bt2" *ngIf="state===''" color="primary" (click)="proceed()"> Proceed</ion-button>
      <ion-button expand="full" id="bt2" *ngIf="state==='proceed'" disabled color="medium" > Proceed</ion-button>
      <ion-button expand="full" id="bt2" *ngIf="state==='done'" color="primary" (click)="close()" > Close</ion-button>
      <ion-button expand="full" id="bt2" *ngIf="state==='error' || state==='connection'" color="primary" (click)="proceed()" >Retry </ion-button>
    </ion-label>
  </ion-footer>
</div>



  



</ion-content>
