
  <ion-header #header>
    <ion-toolbar>
      <ion-menu-button id="btMenu" slot="start"></ion-menu-button>
      <ion-title  >{{ 'Pay.title' | translate:params }}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content  style='background-color:white !important'>
    <div id="globalCash" *ngIf="this.Order!==null" [ngClass]="Pay==='Valid'? 'globalCashFlex' : 'inactive'" >
      <ion-label id="PayHeader">
        <ion-label (click)="changeMode()"[ngClass]="Mode==='CASH'? 'Mode' : 'inactive'">
          <ion-text >{{ 'Pay.cash' | translate:params }}</ion-text>
        </ion-label>
        <ion-label (click)="changeMode()"[ngClass]="Mode==='NO CASH'? 'Mode' : 'inactive'">
          <ion-text>{{ 'Pay.noCash' | translate:params }}</ion-text>
        </ion-label>       
      </ion-label>
    
      <ion-label id="PayList" [ngStyle]="{'height': Pay==='Pay'? '84px' : '105px' }" >
        <ion-label>
          <ion-text class="PayListLabel">{{ 'Pay.Total' | translate:params }}</ion-text>
          <ion-text color="success" class="PaylistPrice" id="PayListTotal">{{formatAmout(Order.OrderTotalAmount)}} </ion-text>
        </ion-label>
        <ion-label>
          <ion-text class="PayListLabel"> {{ 'Pay.payment' | translate:params }}</ion-text>
          <ion-text class="PayListPrice" color="dark">{{formatAmout(Payment)}}</ion-text>
        </ion-label>
        <ion-label>
          <ion-text class="PayListLabel" >{{ 'Pay.change' | translate:params }}</ion-text>
          <ion-text class="PayListPrice" color="danger">{{formatAmout(getChange())}}</ion-text>
        </ion-label>
      </ion-label>
    
      <ion-label id="ExactAmount" (click)="ExactAmount()" *ngIf="Pay==='Pay'">
        <ion-text ><ion-icon name="wallet-outline"></ion-icon></ion-text>
        <ion-text> {{ 'Pay.exactAmount' | translate:params }}</ion-text>
      </ion-label>
  
      <ion-label id="PayPayment" *ngIf="Pay==='Pay'">
        <ion-text id="PayPayment_text" color="dark">{{ 'Pay.payment' | translate:params }}</ion-text>
        <ion-text id="PayPayment_number">CFA {{formatAmout(Payment)}}</ion-text>
      </ion-label>
    
    
        <div id="keyboard" *ngIf="Pay==='Pay'">
          <ion-label class="row1">
            <ion-label class="col1">
              <div>
                <ion-label id="key1" (click)="addPayment('1')">
                  <ion-text>1</ion-text> 
                </ion-label>
                <ion-label id="key2" (click)="addPayment('2')">
                  <ion-text>2</ion-text> 
                </ion-label>
                <ion-label id="key3" (click)="addPayment('3')">
                  <ion-text>3</ion-text> 
                </ion-label>
              </div>
              <div>
                <ion-label id="key4" (click)="addPayment('4')">
                  <ion-text >4</ion-text> 
                </ion-label>
                <ion-label id="key5" (click)="addPayment('5')">
                  <ion-text>5</ion-text> 
                </ion-label>
                <ion-label id="key6" (click)="addPayment('6')">
                  <ion-text>6</ion-text> 
                </ion-label>
              </div>
            </ion-label>
            <ion-label id="keyBack" class="col2" (click)="clearPayment('back')" >
              <ion-text>
                <ion-icon name="Backspace-outline"></ion-icon>
              </ion-text>
            </ion-label>
         </ion-label>
         <ion-label class="row1">
          <ion-label class="col1">
            <div>
              <ion-label id="key7" (click)="addPayment('7')">
                <ion-text>7</ion-text> 
              </ion-label>
              <ion-label id="key8" (click)="addPayment('8')">
                <ion-text>8</ion-text> 
              </ion-label>
              <ion-label id="key9" (click)="addPayment('9')">
                <ion-text>9</ion-text> 
              </ion-label>
            </div>
            <div>
              <ion-label id="keyc" (click)="clearPayment('C')">
                <ion-text>C</ion-text> 
              </ion-label>
              <ion-label id="key0" (click)="addPayment('0')">
                <ion-text>0</ion-text> 
              </ion-label>
              <ion-label id="key000" (click)="addPayment('000')">
                <ion-text>000</ion-text> 
              </ion-label>
            </div>
          </ion-label>
          <ion-label id="keyEnter" class="col2" (click)="Valid()" >
            <ion-text>
               {{ 'Pay.enter' | translate:params }}
            </ion-text>
          </ion-label>
       </ion-label>
    
        </div>
        
        <ion-label id="successPayLabel" *ngIf="Pay==='Valid'">
          <ion-label id="successPayIcon"><ion-icon   name="checkmark-circle" color="success"></ion-icon></ion-label>
          <ion-label id="successMessage"><ion-text>{{ 'Pay.paySuccess' | translate:params }}</ion-text></ion-label>
          <ion-label id="successReceipt"><ion-text>{{ 'Pay.payPrinted' | translate:params }}</ion-text></ion-label>
        </ion-label>
        <ion-button id="btCancel" *ngIf="Pay==='Pay'" color="medium"  (click)="Cancel()">
          <ion-icon name="Close-Circle-outline" ></ion-icon> <ion-text>{{ 'Pay.cancel' | translate:params }}</ion-text>
      </ion-button>
    </div>
  </ion-content>
   