<ion-app>
  <ion-menu side="start" menuId="custom" contentId="main_menu" >
    <ion-header class="ion-no-padding ion-no-margin">
      <ion-toolbar class="ion-no-padding ion-no-margin" >
        <ion-title class="ion-justify-content-end ion-no-padding ion-margin">
          <div>
            <ion-icon  name="person"></ion-icon><br>
            Username
          </div> 
          <div>
            <ion-icon name="log-out-sharp" id="signOut" ></ion-icon>
          </div>
          
        </ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-no-padding">
      <ion-list class="menu-items" lines="none">
        <ion-item  [routerLink]="['/QuickOrder']" [ngClass]="currentLink==='quickOrder'? 'active' : 'inactive'" (click)="setItem('quickOrder')"> <ion-icon name="newspaper-sharp"></ion-icon> <span>Orders</span></ion-item>
        <ion-item [routerLink]="['/QuickOrder']" [ngClass]="currentLink==='settings'? 'active' : 'inactive'" (click)="setItem('settings')"><ion-icon name="settings"></ion-icon> <span>Settings</span> </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main_menu"> </ion-router-outlet>
</ion-app>
