
*{
  --background:#FFFFFF!important;
}

#menuHeader{
  --background:#FFFFFF;
  height: 104.5px;
  border-bottom: 1px solid #666666;
  display: flex;
  ion-avatar{
    height: 80px;
    width: 80px;
    margin-right: 7px!important;
    margin-left: 17px!important;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  ion-label{
    position: relative;
    div{
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
    ion-text{
      display:block;
      font-family: 'Roboto',sans-serif;
      font-weight: 500;
      font-size: 10px;
      line-height: 16px;
      letter-spacing: 1.5px;
      &:first-of-type{
      margin-top: 16px;
      line-height: 28.8px;
      font-size:24px;
      font-weight: 400;
      }
    }
  }
  
}

ion-content,ion-footer{
  --background:#FFFFFF;
}
ion-list{
  background:#FFFFFF;
  ion-item{
    --background:#FFFFFF;
  }
  
  div{
    display: flex;
    .items{
      flex-grow: 1;
    }
  }
  .active{
    ion-icon,ion-item{
      color:var(--ion-color-success);
    }
    
  }
}


ion-footer{
 position: relative;
 height: 38px;
 margin-bottom: 10px;
 border-top: none;
}
#signOut{
  position: absolute;
  height: 38px;
  right: 2px;
  display: flex;
  align-items: center;
  ion-text{
    font-family: 'Roboto',sans-serif;
    font-size: 10px;
    line-height: 16px;
    padding-right: 6px;
    font-weight: bold;
  }
  ion-icon{
   font-size: xx-large;
   color:#666666;
  }
}

