.whiteContent,ion-footer,ion-toolbar{
      overflow-y: visible!important ;
      --background:#FFFFFF;
    position:relative;
    
    
  }
  ion-header{
      overflow-y: visible!important ;
      img{
        font-size: 30px;
        padding: 0px;
        width: 55px;
        height: 28px;
        top: 38px;
        position: absolute;
        right:42px;
        z-index: 10;
    }
  }

  
.grayColor,ion-content{
    --background:#E5E5E5;
}
  
  ion-title{
    
   
    .ordersNumber{
            
         ion-badge{
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 700;
            font-size: 13px;
            line-height: 140%;
             top:-6px;
             left:19px;
             min-width: 22px;
             height: 19px;
             display: flex;
             align-items: center;
             justify-content: center;
             position: absolute;
             background: #FFC409;
         }
          position: absolute;
          @extend .verticalCenter;
          right:54px;
          ion-icon{
              font-size: x-large;
          }
          
      }
  }
$fullheight:calc(100vh - 56px);
.verticalCenter{
    position:absolute;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%); 
}
.horizontalCenter{
    position:absolute;
    left: 50%;
    transform: translateX(-50%);
    -ms-transform:translateX(-50%) ;
}
ion-icon[name=ellipsis-vertical]{
    position: absolute;
    right: 0px;
    top:5.5px;
    font-size: x-large;
}
*{
    font-family: 'roboto', sans-serif;
    size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.25px;
}
#global{
    background-color:#E5E5E5;
}
#globalCatalog{
    padding: 3px;
}
#surface{
    color:#222428;
    position: relative;
    height: 41px;
    border-radius: 4px;
    margin-bottom: 3px;
    box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
    background-color:#FFFFFF;
    
    div{
        display: flex;
        align-items: center;
        justify-content:space-between;
        @extend .verticalCenter;
        width:48%;
    }
    
    #labelName{
        border:1px solid rgba(102, 102, 102,0.5);
        border-radius: 16px;
        height: 34px;
        width: 120px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 4px;
      ion-icon{
          font-size:x-large;
          padding-right: 10px;
      }
    }
    #labelOrderStatus{
        @extend .verticalCenter;
        display: flex;
        justify-content: right;
        text-align: right;
        align-items: center;
        right: 10%;
            height: 19px;
            display: flex;
            align-items: right;
            justify-content: right;
            ion-text{
                color: white;
            }
    }
    ion-icon[name=person-outline]{
        font-size: xx-large;
        
    }
    ion-icon[name=ellipsis-vertical]{
        @extend .verticalCenter;
        right: 0px;
        font-size: x-large;
    }

}

#divers{
    display:inline-block;
    @extend .verticalCenter;
    margin-left: 40%;
    width: 30%;
    display: flex;
    align-items: center;
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.25px;
    text-align: left;

}
#menuBlock{
    border-radius: 4px;
    position:relative;
    background-color:#FFFFFF;
    min-height: 113px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    #inuCatalog{
        position: absolute;
        margin-left: 12px;
    }
    #menuItems{
            #scanIcon{
            margin-right:5%;
            margin-left:5%;
        }
        height: 38px;
        display: flex;
        align-items: center;
        position:relative;
        border-bottom:1px solid rgba( #000000, 12%);
        .search{
            width: 70%;
            padding: 0px !important;
            height: 25px;
            position: relative;
            #search{
                position: absolute;
                left: -8px;
                --icon-color:var(--ion-color-success);
                &::ng-deep {
                    input.searchbar-input.sc-ion-searchbar-md {
                        padding-top: 0 !important;
                        padding-bottom: 0 !important;
                        margin: 0px;
            
                    }
                }
            }
        }
        #menuIcon{
            margin-left: 40%;
            position: relative;
            flex-grow: 1;
            display: flex;
            align-items: center;
            justify-content: space-between;
            ion-label{
                display: flex;
                align-items: center;
            }
            ion-icon{
                font-size: x-large;
            }
            #catalogLabel{
                flex-grow: 1;
                display: flex;
                justify-content: space-between;
                margin-right: 4px;

                ion-text{
                    display: inline-block;
                    font-size: 12px;
                    text-align: center;
                    width: 79px;
                    line-height: 16px;
                }
            }
        }

    }
      
    
    
    #noItems{
        height: calc(113px - 40px);
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        ion-text{
            display: inline-block;
            width: 100%;
            text-align: center;
        }
        box-sizing: border-box;
    }
    
    #btScan{
        position: relative;
        flex-grow: 1;
        display: flex;
        text-align: right;
        align-items: center;
        ion-button{
            &:nth-child(1){
                right: 130px;
            }
            right: 6px;
            position: absolute;
            --background: #666666
        }
        #btCloseScan{
        right: 6px;
            position: absolute;
            bottom: 6px;
            opacity: 0.7;
        }
        ion-icon{
            color:#ffffff;
            margin-right: 5px;
            ;
        }
    }

}

#orderBlock{
    background-color: white;
    margin-top:2px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    #orderTitle{
        display:flex;
        align-items: center;
        ion-label{
            flex-grow: 1;
            display:flex;
            justify-content: right;
            padding-right: 10px;
            
        }
        ion-searchbar{
            flex-grow: 1;
            display: block;
            max-width: 300px;
            --icon-color:var(--ion-color-success);
        }
        height: 41px;
        width: 100%;
        position:relative;
        padding-left: 12px;
        border-bottom:1px solid rgba( #000000, 12%);
        
        
    }
    #orderItemsList{
        overflow-y: auto;
        padding-bottom: 35px;
        
    }
    .orderItemsList1{
        height: calc(100vh - 265px) ;
    }
    .orderItemsList2{
        height: calc(100vh - 430px) ;
    }
    .orderItems{
        padding-top: 3px;
        position: relative;
        display: flex;
        align-items: center;
        margin:4px;
        display: flex;
        border-radius: 5px;      
        border:1px solid rgba( #000000, 12%);
        ion-icon[name=ellipsis-vertical]{
            right: -5px;
            padding-right: -2px !important;
        }
        .orderItemsImg{
            margin-top: -3px;
            padding-left: 2px;
            margin-right: 7px;
            width: 51px;
            height: 65px;

            img{
                object-fit: cover;
                height: 100%;
                width: 100%;
            }
        }
        .orderItemsDetailsContainer{
            flex-grow: 1;
            display: flex;
            flex-direction: column;
        }
        .orderItemsDetails{
            display: flex;
            .orderItemsName{
                
                font-size: 14px;
                font-weight: 400px;
                position: relative;
                display: inline-block;
                width:70%;
                height: 40px;
                overflow-x: hidden;
            }
           
            .orderItemsDesc{
                display: inline-block;
                position: absolute;
                bottom: 7px;
                left: 0px;
                line-height: 16px;
                width: 200px;
                overflow-x: hidden;
                opacity: 0.5;
            }
            .orderItemsPrice{
                padding-top: 3px;
                font-weight: 700;
                line-height: 24px;
                font-size: 16px;
                letter-spacing: 0.15px;
                text-align: center;
                width: 30%;
            }
            .orderItemsModel{
                position: relative;
                display: flex;
                align-items: center;
                width: 70%;
                ion-button{
                    --background: #666666;
                    height:18px;
                    width: 41px;
                    ion-icon{
                        color:white;
                        position: absolute;
                        font-size: x-large;
                    }
                }
                ion-label{
                            display: inline-block;
                            font-size: 14px;
                        }
    
            }
            
            .orderItemsButton{
                min-width: 30%;
                display: flex;
                justify-content: center;
                ion-icon{
                    font-size: xx-large;
                }
                .noremove{
                    color:#D7D8DA;
                    cursor:none;
                }
                ion-label{
                    display: flex;
                    align-items: center;
                    margin-left: 3px;
                    margin-right: 3px;
                    ion-text{
                        display: inline-block;
                        font-size: 16px;
                        line-height: 24px;
                        letter-spacing: 0.15px;
                    }
                }
            }
            
        }
    }
    
    


} 

#slideNext{
    position: absolute;
    position:absolute;
    top: 50%;
    transform: translateY(-35%);
    -ms-transform: translateY(-35%);
    z-index: 2;
    right: 1px;
    cursor: pointer;
    ion-icon{
        color: #666666;
        font-size: xx-large;
        
    }
}
#slideBack{
    position: absolute;
    top: 50%;
    transform: translateY(-35%);
    -ms-transform: translateY(-35%);
    z-index: 2;
    left:1px;
    cursor: pointer;
    ion-icon{
        color: #666666;
        font-size: xx-large;
        
    }
}


.slides{
    min-height:236px ;
    ion-col{
        margin:auto;
        text-align: center;
        position:relative;
        
    }
    ion-label {
        overflow-y: hidden;
        font-weight: 400;
        font-size: 12px;
        font-family: 'roboto',sans-serif;
        text-align: center;
        ion-text:first-of-type{
            color:black;
            position: relative;
        }
        ion-text{
            position: relative;
            height: 16px;
            width: 100%;
            display:block;
            text-align: left;
            color: #666666;
        }
    }
    .Qte{
         position: absolute;
         right:0px;
         bottom:0px;
         z-index: 2;
         border-radius:50%;
         color: white;
         min-width: 20px;
         background-color: var(--ion-color-success);
    }
    .card{
        cursor:pointer;
        border-radius:8px;
        background: #ffffff;
        box-sizing: border-box;
        color: #495057;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14), 0px 3px 4px rgba(0, 0, 0, 0.12), 0px 1px 5px rgba(0, 0, 0, 0.2);
        
    }
    
    img{
        width:calc(100% - 2px);
        height: 53px;
        object-fit: cover;
        border-top-right-radius:8px;
        border-top-left-radius:8px;
        
    }
    
    
}



.custom-popover .popover-content{ width: 90% !important; color: red; };

#catalogPopOver{
    
    $popover-md-width: 320px; $popover-ios-width: 320px; $popover-wp-width: 320px;
    .catalogType{
        &:hover{
            --background: rgba(0,0,0,0.1);
        }
    }
}
.ItemPopOver,#OrderPopOver{
    div{
        &:hover{
            ion-item{
            --background: rgba(0,0,0,0.1);

            }
         }
       display: flex; 
       .ItemDelete{
           flex-grow: 1;
           
          
       }
       
    }
}
.active{
    ion-icon{
      color:var(--ion-color-success);
    }
    ion-icon[name=caret-down]{
        color:#666666;
    }
}


ion-footer{
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    font-size: 16px;
    height: 38px;
    width: calc(100% - 6px);
    position:fixed;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.14), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
    bottom: 2px;
    background-color: var(--ion-color-success);
    #Total{
        @extend .verticalCenter;
        padding-left:12px;
        color:white;
    }

    #Pay{
        cursor: pointer;
        @extend .verticalCenter;
        display: inline-block;
        right: 0px;
        color: white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-right: 0px;
        ion-icon{
            color: white !important;
            font-size: xx-large;
        }
        ion-text{
            right: 23px;
            font-size: 20px;
            font-weight: 400;
        }
    }
}

#OrderFromSeller{
    
    padding-top: -10px;
    background-color: white;
    height: calc(100vh - 66px);////this is of android only
        width: 98%;
        margin-left: 1%;
    position:absolute;
    margin-top: 6px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;
    #orderBlockFromSeller{
        margin-top:-7px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        
        #orderItemsList{
            overflow-y: auto;
            padding-bottom: 35px;
            

        }
       
        .orderItems{
            
            background-color: white;
            padding-left: 6px;
            padding-top: 3px;
            padding-bottom: 5px;
            position: relative;
            display: flex;
            align-items: center;
            margin:4px;
            display: flex;
            border-radius: 5px;      
            border:1px solid rgba( #000000, 12%);
            ion-icon[name=ellipsis-vertical]{
                right: -5px;
                padding-right: -2px !important;
                object-fit: cover;
                
            }
            .oderSeller{
               width: 24px;
               height: 24px;
               border-radius: 50%;
               margin-right: 2px;
               img{
                   width: 100%;
                   height: 100%;
                   border-radius: 50%;
                   object-fit: cover;
               }
           }
            .orderItemsDetailsContainer{
                flex-grow: 1;
                display: flex;
                flex-direction: column;
                
            }
            .orderItemsDetails2{
                padding-right: 5px !important;  
            }
            .orderItemsDetails{
            padding-right: 20px;

                display: flex;
                justify-content: space-between;
                align-items: center;
                .orderItemsName{
                    .idOrder{
                        display:block;
                        font-style: normal;
                        font-weight: 700;
                        font-size: 16px;
                        line-height: 24px;
                        margin-bottom: 5px;
                    }
                    font-size: 14px;
                    font-weight: 400px;
                    position: relative;
                    display: inline-block;
                    width:60%;
                    height: 40px;
                    overflow-x: hidden;
                }
               
                .orderItemsDesc{
                    display: inline-block;
                    position: absolute;
                    bottom: 5px;
                    left: 0px;
                    line-height: 16px;
                    width: 200px;
                    overflow-x: hidden;
                    opacity: 0.5;
                }
                .orderItemsPrice{
                    .priceOrder{
                        display:block;
                        font-style: normal;
                        font-weight: 700;
                        font-size: 16px;
                        line-height: 24px;
                        margin-bottom: 5px;
                    }
                    text-align: right;
                    font-size: 14px;
                    font-weight: 400px;
                    position: relative;
                    display: inline-block;
                    width:60%;
                    height: 40px;
                    overflow-x: hidden;
                }
                .orderItemsModel{
                    position: relative;
                    display: flex;
                    align-items: center;
                    width: 20%;
                    ion-button{
                        --background: #666666;
                        height:18px;
                        width: 41px;
                        ion-icon{
                            color:white;
                            position: absolute;
                            font-size: x-large;
                        }
                    }
                    ion-label{
                                display: inline-block;
                                font-size: 14px;
                            }
        
                }
                .orderDate{
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 16px;
                    display: flex;
                    align-items: center;
                    color:#666666;
                    justify-content: left;
                    ion-text{
                        display: inline-block;
                    }

                }
                
                .orderStatus{
                    min-width: 20%;
                    position: relative;
                    display: flex;
                    justify-content: right;
                    text-align: right;
                    font-family: "roboto", sans-serif;
                    size: 14px;
                    font-weight: 400;
                    line-height: 20px;
                    letter-spacing: 0.25px;
                    ion-text{
                        color: white;
                    }
                    ion-badge{
                        height: 29px;
                        align-items: center;
                        display: flex;
                    }
                }
                
            }
        }
        
        
        ion-icon[name=ellipsis-vertical]{
            position: absolute;
            right: 0px;
            top:5.5px;
            font-size: x-large;
        }   
        
    }  
    .deleteOrder{
        display: flex;
        .ItemDelete{
            flex-grow: 1;
        } 
    }

}


.div {
    overflow: hidden;
    height: 236px !important;
    width: 100%;
    position: relative;
    .scannerIcon{
        opacity: 0.7;
        position: absolute;
        left:50%;
        top:35%;
        transform:translateY(-50%) ;
        transform:translateX(-50%) ;
        ion-icon{
            font-size: 80px;
        }
    }
}

zxing-scanner {
    width:100% ;
    margin: auto;
}

::ng-deep video {
    max-height: 236px;
    width: 100vw;
    object-fit: contain;
}
@media (min-width:961px) and (max-height:750px) {
    
    #globalCatalog{
        padding-left: 6.6%;
        padding-right: 6.6%;
        padding-bottom: 0px;
        height: calc(100vh - 56px);// for android only
        display: grid;
        grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
        grid-template-rows: 6.45% 13.55% 15% 5% 10% 10% 10% 10% 12% 8% !important;
    }
}


@media (min-width:961px) and (max-height:400px) {
    
    #globalCatalog{
        grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
        grid-template-rows: 14% 11% 10% 5% 10% 10% 10% 10% 12% 8% !important;
    }
}

@media (min-width:961px)  { 
    .ordersNumber{
            
        
         position: absolute;
         right:20% !important;
         ion-icon{
             font-size: x-large;
         }
         
     }
     ion-header{
         img{
             right: 18% !important;
             margin-left: 30px;
         }
     }
    .scannerIcon{
        opacity: 0.7;
        position: absolute;
        left:50%;
        top:50%;
        transform:translateX(-50%) ;
        transform:translateY(-50%) ;
        ion-icon{
            font-size: 120px;
        }
    }
    #OrderFromSeller{
        padding-top: -10px;
        background-color: white;
        height: calc(100vh - 62px);////this is of android only
        width: 70%;
        margin-left:15%;
        position:absolute;
        margin-top: 6px;
    }

    ion-title{
        text-align: left;
    }
    #globalCatalog{
        padding-left: 6.6%;
        padding-right: 6.6%;
        padding-bottom: 0px;
        height: calc(100vh - 56px);// for android only
        display: grid;
        grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
        grid-template-rows: 6% 14% 15% 5% 10% 10% 10% 10% 12% 8%;
        #surface{
            grid-column-start: 7;
            grid-column-end: 11;
            grid-row-start: 1;
            grid-row-end: 2;
        }
        #menuBlock{
            grid-column-start: 1;
            grid-column-end: 7;
            grid-row-start: 1;
            grid-row-end: 11;
            box-sizing: border-box;
            margin-right: 5px ;
            overflow-y: auto;
            #menuItems{
            height: 41px !important;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .search{
                width: 70%;
                padding: 0px !important;
                height: 25px;
                position: relative;
                #search{
                    position: absolute;
                    left: -8px;
                    --icon-color:var(--ion-color-success);
                    &::ng-deep {
                        input.searchbar-input.sc-ion-searchbar-md {
                            padding-top: 0 !important;
                            padding-bottom: 0 !important;
                            margin: 0px;
                
                        }
                    }
                }
            }
                #menuIcon{
                    margin-left: 50%;
                    position: relative;
                    flex-grow: 1;
                    display: flex;
                    align-items:left;
                    justify-content: right;
                    ion-label{
                        display: flex;
                        align-items: center;
                    }
                    ion-icon{
                        font-size: x-large;
                    }
                    #catalogLabel{
                        display: flex;
                        flex-grow: 0;
                        justify-content: left;
                        margin-right: 4px;
        
                    }
                }
        
            }
        }

        #orderBlock{
            grid-column-start: 7;
            grid-column-end: 11;
            grid-row-start: 2;
            grid-row-end: 11;
            position: relative;
            overflow-y: auto;
            #orderItemsList{
                height: calc(100% - 87px) !important;
                padding-bottom: 0px !important;
            }
        }
     
        ion-footer{
            position: relative !important;
            height: 45px;
            width: 100%;
        }
    }

    .slides{
        min-height:236px ;
        ion-col{
            margin:auto;
            text-align: center;
            position:relative;
            
        }
        ion-label {
            overflow-y: hidden;
            font-weight: 400;
            font-size: 12px;
            font-family: 'roboto',sans-serif;
            text-align: center;
            ion-text:first-of-type{
                color:black;
                position: relative;
            }
            ion-text{
                position: relative;
                height: 16px;
                width: 100%;
                display:block;
                text-align: left;
                color: #666666;
            }
        }
    }

    
    .div {
        overflow: hidden;
        height: calc(100vh - 100px) !important;
        width: 100%;
        ::ng-deep video {
            width: 100%;
            min-height: calc(100vh - 100px) !important;
            object-fit: contain;
        }
    }
    #btScan{
        ion-button{
            right: 6px;
            position: absolute;
            bottom: 6px;
            opacity: 0.7;
        }
    }
      
}

@media (min-height:961px) and (orientation: portrait){
    .scannerIcon{
        opacity: 0.7;
        position: absolute;
        left:50%;
        top:50%;
        transform:translateX(-50%) ;
        transform:translateY(-50%) ;
        ion-icon{
            font-size: 120px;
        }
    }
    .slides{
        min-height: 420px;
    }

    .orderItemsList1{ // we just remove the height of the slide and the catalog section
        height: calc(100vh - 265px) ;
    }
    .orderItemsList2{
        height: calc(100vh - 622px) !important ;
    }
    .div {
        overflow: hidden;
        min-height: 420px;
        width: 100%;
        ::ng-deep video {
            min-height: 420px;
            width: 100vw;
            object-fit: contain;
        }
    }
}