

<ion-content fullscreen="true" (keyup.Enter)="SubmitByEnter($event)">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
        <ion-spinner *ngIf="spinner===true"  name="lines"></ion-spinner> 
        <ion-col class="ion-align-self-center" size-md="6" size-lg="5" size-xs="12">
        <div  id="login-logo">
          <img src="../../assets/isnov.png" alt="logo">     
        </div>

        
        <form [formGroup]="loginForm" (ngSubmit)="onSubmitForm()" id="logForm" > 
          <ion-list lines="none" class="margin-top-25 ion-margin margin-0-28">

            <ion-text>
              Identification or Phone Number
            </ion-text>
            <ion-item   >
              <ion-input  placeholder="Identification or Phone Number" type="text"  id="loginName" #loginName formControlName="Name" ></ion-input>
            </ion-item>

            <ion-text>
              Password
            </ion-text>
            <ion-item >
              <ion-input placeholder="At lest 6 characters" #loginPassword  id="loginPassword" formControlName="Password" [type]="showPassword ? 'text' : 'password'" clearOnEdit="false">
              </ion-input>
              <div (click)="onPasswordToggle()" ion-button fill="clear" size="small">
               <ion-icon slot="icon-only" color="medium" [name]="showPassword ? 'eye-off' : 'eye'"></ion-icon> 
              </div>
            </ion-item>
            
            
            <ion-button mode="ios" color="success" type="submit" [disabled]="loginForm.invalid" id="loginSubmit"  style="color:white"   expand="block">Login</ion-button>
        <ion-label id="forgot" color="primary">Forgot Password?</ion-label>
      </ion-list>
      <div id ="Error" *ngIf="LoginError.length>5">
        {{LoginError}}
      </div>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>