
*{
  font-family: Arial, Helvetica, sans-serif;
}


:host {
    ion-item {
        --border-color: white; // default underline color
        --highlight-color-invalid: transparent; // invalid underline color
        --highlight-color-valid: transparent; // valid underline color
    }
}
.placeHolderClass{
  color:red;
  font-family: Arial;
  margin-bottom: 10px;
}
#LoginError{
  height: 60px;
  padding-top: 35px;
  text-align: center;
  font-weight: bold;
}
#loginSubmit{
  margin-top: 32px;
}



$white-color: #fff;
$height100: 100%;

ion-toolbar{
  --opacity:0 !important;
  }

ion-content{
  --background: none;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
 }

ion-col{
  padding: 0px !important;

}
ion-list {
 --ion-item-background: transparent;
// margin: 0px 25px;
}

.login-logo {
  padding: 20px 0;
  min-height: 100px;
  text-align: center;
  color: white;
}

.login-logo  {
  font-size: 30px;
}

.list {
  margin-bottom: 0;
}


ion-button {
  font-weight: 300;
}

//######## default screen ########//

ion-grid {
    width:100%;
    height: $height100;
    //background: #dfdfdf;
}

ion-row {
    height: $height100;
}

ion-col {
  min-width: 450px;
    padding: 30px !important;
    border-radius: 8px;
    
  background-color: rgba(0, 0, 0, 0.11);
}
.list-width{
  width: 450px !important;
}
#loginError{
  --margin-bottom: 16px;
}


//######## mobile screen ########//
@media (min-width: 240px) and (max-width: 768px) {

    ion-col {
     // min-width: 450px;
        min-height: 650px;
        border: none;
        //height: 450px !important;
        background: transparent;
        border-radius: 0px;
    }
}