

ion-content,ion-footer,ion-toolbar{
  --background:#FFFFFF;
  position:relative;
}
ion-select::part(button) {
  color: #545ca7;
}


#login-logo{
  margin-top: 55px !important;
  margin-bottom: 44px !important;
  margin: auto;
  width: 156px;
  height: 73px;
  img{
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

form{
 padding-bottom: 25px;
 background-color: transparent;
 ion-list{
  background:#FFFFFF;
  padding-bottom: 20px;
 }
 ion-text{
  font-size:16px ;
  margin-top: 0px;
   font-family: 'Roboto',sans-serif;
   Line-height: 24px;
 }

 ion-item[lines=none]{
  margin-top: 10px;
  margin-bottom: 17px;// normal 17
  border-radius: 16px;
   --ion-item-background:rgba(0, 0, 0, 0.05);
   --highlight-height: 0px;
 } 
 ion-item{
  --ion-item-background:transparent; 
  --highlight-height: 0px;
 }
 ion-input{
   font-family: 'Roboto',sans-serif;
   font-style :normal;
   font-weight:400;
   height: 56px;
   font-size: 12px;
    --highlight-height: 0px;
 }
 .Error{
  padding-left: 16px;
  color:var(--ion-color-danger);
  font-family: 'Roboto',sans-serif;
  font-style :normal;
  font-weight:bold;
  position: absolute;
  margin-top: -18px;
  font-size: 12px !important;
  display: none;
}
#Error{ 
  text-align: center;
  color:var(--ion-color-danger);
  font-family: 'Roboto',sans-serif;
  font-style :normal;
  font-weight:400;
} 
}

ion-button{
  height: 56px;
  font-size: 20px;
  margin-top: 39px;
}

#forgot{
margin-top: 5px;
color: #1A72DD;
font-family: 'Rubik', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 16px;
position:absolute;
text-decoration-line: underline;
left: 50%;
transform: translateX(-50%);
transform-origin: left;
}
@media (min-height:900px) and (max-width:1000px) {
  ion-content{
    --padding-top: 15vh;
  }
}